.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  // max-width: 700px;
  // margin: 0 auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  // background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Londrina Solid', cursive;
}

.header {
  font-size: 132px;
  color: white;
  // padding-bottom: 80px;
}

.header-show {
  font-size: 132px;
  color: black;
}

.header2 {
  font-size: 70px;
  color: black;
  // font-weight: bold;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: flex-start;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  text-align: center;
}

.slogan {
  font-size: 40px;
  color: white;
  font-family: 'Londrina Solid', cursive;
}

.upload-button {
  background: linear-gradient(90deg, #DCE8E0,#D2D8D6);
  color: grey;
  border-radius: 8px;
  margin-right: 10px;
  font-weight: 300;
}

// .banner h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }

h2, h3 {
  font-size: 55px;
}

.headers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 1180px;
}


.dino-show-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 912px;
}

.dino-images {
  display: flex;
  width: 100%;
  max-width: 1180px;
  // margin-bottom: 42px;
  height: 447px;
}

.dino-image1 {
  margin-right: 28px;
}

.dino-image1 figure {
  width: 543px;
  border-radius: 5px;
  border: 2px solid #c1c1c1;
  height: 100%;
}

.dino-image-multiple {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 10px;

}
.dino-image-multiple figure {
  width: 249px;
  height: calc((447px/2) - 15px);
  border-radius: 5px;
  border: 2px solid #c1c1c1;
}


.dino-img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.dino-content{
  display: flex;
  width: 100%;
  max-width: 1180px;
  margin-bottom: 15px;
}


.description{
  width: 60%;
  margin-right: 25px;
  padding: 10px 10px 10px;

}

.dino-info {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 30px;
}
.dino-info2 {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 25px;
}

.dino-show-book{
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  // padding: 15px;
  padding-top: 5px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // width: 100%;
  // height: 100%;
}

.date-period{
  display: flex;
  gap: 10px;
  border: 2px solid #c1c1c1;
  border-radius: 5px;
  margin-bottom: 20px;
}


.start-input{
  border-right: 2px solid #c1c1c1;
}

.start-input label, .end-input label {
  font-size: 12px;
  font-weight: bold;
}

.start-input input, .end-input input {
  font-size: 16px;
}

.start-input, .end-input{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

input#start, input#end {
  background: transparent;
}

.start-input input, .end-input input {
  border: none;
  box-sizing: border-box;
  outline: 0;
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.dino-show-book button {
  width: 100%;
  padding: 12px;
  color: #ffffff;
  background-color: #b4cb56;
  border-color: #b4cb56;
  margin-bottom: 20px;
}

.dino-show-book button:hover{
  background-color: #94ab38;
  border-color: #94ab38;
}

.dino-show-book button a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}

.dino-show-book hr{
  border: 1px solid #c1c1c1;
  opacity: inherit;
}

.book-total{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.book-total p {
  width: 50%;
  padding: 5px;
  margin: 0;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}
