<div class="container">

  <h1 class="header">BORROW MY DINO</h1>
  <h2 class="header2"> Welcome to the Dino Hub</h2>

  <%# PUT ITERATION INSIDE THE GRID %>
  <div class="cards">
    <% @dinosaur.each do |dinosaur| %>
      <%# <h3>= link_to dinosaur.name, dinosaur_path(dinosaur)</h3> %>


      <%= link_to dinosaur_path(dinosaur) do %>
        <%# PUT CARD INSIDE HERE %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path dinosaur.photo.key, height: 300, crop: :fill %>')">
          <%= dinosaur.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

 <h3><%= link_to "Add new Dino", new_dinosaur_path(@dinosaur), class: "btn btn-primary"%></h3>
