<h1>Booking New</h1>
<h2>Request to book</h2>
<h2>Choose how to pay</h2>
<p>Request to book button that takes user to bookings confirmation page</p>

<%# <h3><%= link_to "Request to book", booking_path(@), class: "btn btn-primary" %></h3> %>
